	@charset "UTF-8";

@font-face {
    font-family: "lovetolaundry";
    src:url("../../fonts/front/l2l/lovetolaundry.eot");
    src:url("../../fonts/front/l2l/lovetolaundry.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/front/l2l/lovetolaundry.woff") format("woff"),
    url("../../fonts/front/l2l/lovetolaundry.ttf") format("truetype"),
    url("../../fonts/front/l2l/lovetolaundry.svg#lovetolaundry") format("svg");
    font-weight: normal;
    font-style: normal;

}
[class^="l2l-"],
[class*=" l2l-"]
{
	display: inline-block;
	font: normal normal normal 14px/1 lovetolaundry;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align:middle
}
.l2l-lg
{
	font-size: 1.33333333em;
	line-height: .75em;
	vertical-align: -15%
}
.l2l-2x
{
	font-size: 2em
}
.l2l-3x
{
	font-size: 3em
}
.l2l-4x
{
	font-size: 4em
}
.l2l-5x
{
	font-size: 5em
}
.l2l-spin
{
	-webkit-animation: l2l-spin 2s infinite linear;
	animation: l2l-spin 2s infinite linear
}
.l2l-pulse
{
	-webkit-animation: l2l-spin 1s infinite steps(8);
	animation: l2l-spin 1s infinite steps(8)
}
@-webkit-keyframes l2l-spin
{
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(359deg);
transform:rotate(359deg)
}
}
@keyframes l2l-spin
{
0% {
-webkit-transform:rotate(0deg);
transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(359deg);
transform:rotate(359deg)
}
}[class^="l2l-"]:before,
[class*=" l2l-"]:before {
  font-family: "lovetolaundry" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l2l-accessories:before {
  content: "\a001";
}
.l2l-account-notes:before {
  content: "\a002";
}
.l2l-pencil:before {
  content: "\a003";
}
.l2l-setting:before {
  content: "\a004";
}
.l2l-account-setting:before {
  content: "\a005";
}
.l2l-town2:before {
  content: "\a006";
}
.l2l-alterations:before {
  content: "\a007";
}
.l2l-appointment:before {
  content: "\a008";
}
.l2l-arrow:before {
  content: "\a009";
}
.l2l-bed-linen:before {
  content: "\a010";
}
.l2l-building:before {
  content: "\a011";
}
.l2l-building2:before {
  content: "\a012";
}
.l2l-business-hour:before {
  content: "\a013";
}
.l2l-calender:before {
  content: "\a014";
}
.l2l-calender1:before {
  content: "\a015";
}
.l2l-calender3:before {
  content: "\a016";
}
.l2l-cart:before {
  content: "\a020";
}
.l2l-confirm-appointment:before {
  content: "\a021";
}
.l2l-control-pannel:before {
  content: "\a022";
}
.l2l-credit-card:before {
  content: "\a023";
}
.l2l-dining:before {
  content: "\a024";
}
.l2l-discount-codes:before {
  content: "\a025";
}
.l2l-dress:before {
  content: "\a026";
}
.l2l-duvet:before {
  content: "\a027";
}
.l2l-email:before {
  content: "\a028";
}
.l2l-eye:before {
  content: "\a029";
}
.l2l-first-name:before {
  content: "\a030";
}
.l2l-forgot-password:before {
  content: "\a031";
}
.l2l-knitewear:before {
  content: "\a032";
}
.l2l-last-name:before {
  content: "\a033";
}
.l2l-laundry1:before {
  content: "\a034";
}
.l2l-basket:before {
  content: "\a035";
}
.l2l-laundry:before {
  content: "\a036";
}
.l2l-laundry-setting:before {
  content: "\a037";
}
.l2l-arrow-l:before {
  content: "\a038";
}
.l2l-loyality:before {
  content: "\a039";
}
.l2l-minus:before {
  content: "\a040";
}
.l2l-mobile:before {
  content: "\a041";
}
.l2l-notes:before {
  content: "\a042";
}
.l2l-offer:before {
  content: "\a043";
}
.l2l-offer1:before {
  content: "\a044";
}
.l2l-outdoor:before {
  content: "\a045";
}
.l2l-password:before {
  content: "\a046";
}
.l2l-payment:before {
  content: "\a047";
}
.l2l-pencil1:before {
  content: "\a048";
}
.l2l-phone:before {
  content: "\a049";
}
.l2l-plus:before {
  content: "\a050";
}
.l2l-postcode:before {
  content: "\a051";
}
.l2l-refrel:before {
  content: "\a052";
}
.l2l-referral1:before {
  content: "\a053";
}
.l2l-remove:before {
  content: "\a054";
}
.l2l-shirts:before {
  content: "\a055";
}
.l2l-shoe-repair:before {
  content: "\a056";
}
.l2l-shop:before {
  content: "\a057";
}
.l2l-load:before {
  content: "\a058";
}
.l2l-star:before {
  content: "\a059";
}
.l2l-star-o:before {
  content: "\a060";
}
.l2l-street:before {
  content: "\a061";
}
.l2l-suit:before {
  content: "\a062";
}
.l2l-towelling:before {
  content: "\a063";
}
.l2l-trousers:before {
  content: "\a064";
}
.l2l-your-info:before {
  content: "\a065";
}
.l2l-beer:before {
  content: "\a066";
}
.l2l-checklist:before {
  content: "\a067";
}
.l2l-check:before {
  content: "\a068";
}
.l2l-chevron-right:before {
  content: "\a069";
}
.l2l-chevron-left:before {
  content: "\a070";
}
.l2l-card:before {
  content: "\a071";
}
.l2l-dashboard:before {
  content: "\a072";
}
.l2l-device-mobile:before {
  content: "\a073";
}
.l2l-eye-1:before {
  content: "\a074";
}
.l2l-gear:before {
  content: "\a075";
}
.l2l-gift:before {
  content: "\a076";
}
.l2l-heart:before {
  content: "\a077";
}
.l2l-home:before {
  content: "\a078";
}
.l2l-hourglass:before {
  content: "\a079";
}
.l2l-key:before {
  content: "\a080";
}
.l2l-location:before {
  content: "\a081";
}
.l2l-mail-read:before {
  content: "\a082";
}
.l2l-settings:before {
  content: "\a083";
}
.l2l-refresh:before {
  content: "\a084";
}
.l2l-trashcan:before {
  content: "\a085";
}
.l2l-call-phone:before {
  content: "\a086";
}
.l2l-card2:before {
  content: "\a087";
}
.l2l-google-plus:before {
  content: "\a088";
}
.l2l-facebook:before {
  content: "\a089";
}
.l2l-instagram:before {
  content: "\a090";
}
.l2l-linkedin:before {
  content: "\a091";
}
.l2l-magic-wand:before {
  content: "\a092";
}
.l2l-pinterest:before {
  content: "\a093";
}
.l2l-save:before {
  content: "\a094";
}
.l2l-search-find:before {
  content: "\a095";
}
.l2l-shopping-cart:before {
  content: "\a096";
}
.l2l-skype:before {
  content: "\a097";
}
.l2l-tags:before {
  content: "\a098";
}
.l2l-tag:before {
  content: "\a099";
}
.l2l-tachometer:before {
  content: "\a100";
}
.l2l-tint:before {
  content: "\a101";
}
.l2l-trash-bin:before {
  content: "\a102";
}
.l2l-twitter:before {
  content: "\a103";
}
.l2l-undo:before {
  content: "\a104";
}
.l2l-youtube-play:before {
  content: "\a105";
}
.l2l-sign-in:before {
  content: "\a106";
}
.l2l-sign-out:before {
  content: "\a107";
}
.l2l-search:before {
  content: "a";
}
.l2l-megaphone:before {
  content: "b";
}
.l2l-bell:before {
  content: "c";
}
.l2l-bell-two:before {
  content: "d";
}
.l2l-bullhorn:before {
  content: "e";
}
.l2l-cut-scissor:before {
  content: "f";
}
.l2l-gears-setting:before {
  content: "g";
}
.l2l-key-1:before {
  content: "h";
}
.l2l-talk-chat-2:before {
  content: "i";
}
.l2l-talk-chat:before {
  content: "j";
}
.l2l-notifications:before {
  content: "k";
}
.l2l-play:before {
  content: "l";
}
.l2l-upload:before {
  content: "m";
}
.l2l-user:before {
  content: "n";
}
.l2l-wrench:before {
  content: "o";
}
.l2l-unlock:before {
  content: "p";
}
.l2l-unlock-alt:before {
  content: "q";
}
.l2l-youtube-play-1:before {
  content: "r";
}
.l2l-youtube:before {
  content: "s";
}
.l2l-plug:before {
  content: "t";
}
.l2l-plus-square-o:before {
  content: "u";
}
.l2l-plus-square:before {
  content: "v";
}
.l2l-paint-brush:before {
  content: "w";
}
.l2l-paperclip:before {
  content: "x";
}
.l2l-phone-1:before {
  content: "y";
}
.l2l-play-circle-o:before {
  content: "z";
}
.l2l-play-circle:before {
  content: "A";
}

