.adword-header { display: block; position: relative; padding: 140px 0 0; margin: 0; min-height: 300px; color: #141414; background:url("../../images/front/splash-background.jpg") center center no-repeat; background-size:cover;}
.adword-header .download-ourapp img{width:180px;}
.adword-offers{text-align:center;border:1px solid #141414; padding:2px;width:80%; margin:10px auto 60px;}
.adword-offer-inner{background:#141414;padding:30px;}
.adword-discount{font-family: 'GothamBlack';font-size:80px;line-height:66px;color:#fff;}
.adword-offer-text{font-family: 'GothamBook';font-size:22px; text-transform:uppercase;color:#fff;line-height:normal;padding-top:10px;}
.adword-offer-text span{font-size:30px; text-transform:uppercase;display:block;letter-spacing:1px;}
.adword-header-img{margin-bottom:40px;}
.adword-content{font-family: 'GothamBook';}
.adword-content h2{font-family: 'GothamBlack';font-size:46px;}
.adword-list{margin:0;padding:0; list-style:none;}
.adword-list li{font-size:18px;font-weight:600;padding:8px 0;}

.adword-list li .icon{font-family: 'GothamBlack';font-size:40px;color:#fff;text-align:center;width:50px;height:50px;line-height:50px;background:#141414;box-shadow:0 6px 6px rgba(0,0,0,.15);border-radius:50%;float:left;margin-right:20px;margin-bottom:10px;}
.adword-list li span{font-family: 'GothamBlack';}
.adword-form-group{position:relative;width:90%;}
.adword-ordernow,.adword-field{border:none;border-radius:50rem;}
.adword-field{background:#fff; font-family: 'GothamBook';font-size:18px; color:#010101;width:100%;max-width:350px;padding:10px 25px;border:1px solid #efefef;}
.adword-ordernow{font-family: 'GothamBlack';font-size:18px;color:#fff;text-transform:uppercase;background-color:#141414; padding:15px 30px !important;position:absolute;top:-5px;right:0;box-shadow:0 5px 6px rgba(0,0,0,.25);}
.adword-ordernow:hover{background:#73aa92;}
.order-now-box .btn-primary{background:#141414;border-color:#343a40;color:#fff;}
.order-now-box .btn-primary:hover,
.order-now-box .btn-primary:focus{background:#fff;border-color:#fff;color:#141414;}
.adword-lead{font-size:18px;font-weight:600;margin-top:30px;}
.adword-terms{font-size:13px}
.adword-terms a{color:#141414;text-decoration:underline;}
.adword-hiw{font-family: 'GothamBook';font-size:18px;color:#141414;padding:40px 0 120px;background:url('../../images/front/wave-bg.jpg') center bottom repeat-x;}
.adword-hiw h4{font-family: 'GothamBook';color:#141414;margin-bottom:10px;}
.adword-hiw h2{font-family: 'GothamBlack';font-size:30px;color:#141414;margin:0px 0 50px;}
.adword-hiw h3{font-family: 'GothamBook';color:#141414;font-weight:500;}
.adword-hiw .dotted::after{position: absolute; top: 60%; right:-10%; background: url(../../images/front/dotted.jpg) center center no-repeat; width: 60px; height: 10px; content: '';}
.adword-hiw .hiw-image {margin:30px auto 0;width: 200px;height: 200px;background-color: #b4d2c5;box-shadow:0 .5rem .625rem rgba(0,0,0,.15);border-radius:50%;-ms-flex-align: center!important;align-items: center!important;-ms-flex-pack: center!important;justify-content: center!important;display: -ms-flexbox!important; display: flex!important;}
.adword-hiw .dotted:last-child::after{display:none;}

.adword-prices{font-family: 'GothamBook';color:#141414;padding:20px 0 100px;background:#b4d2c5 url('../../images/front/wave-bg2.jpg') center bottom repeat-x;}
.adword-prices-text{padding:150px 40px 10px 15px}
.adword-prices h4{font-family: 'GothamBook';color:#141414;margin-bottom:10px;}
.adword-prices h2{font-family: 'GothamBlack';font-size:30px;color:#141414;margin:0px 0 20px;}
.adword-prices .btn-white{background:#fff;border-radius:50rem;font-size:18px; text-transform:uppercase;padding:10px 30px;margin-top:20px;}
.adword-prices .btn-white:hover{background:#edaa9a;}
.offer-block{background:#b4d2c5 !important;border:4px solid #fff !important;padding:6px;margin-bottom:20px !important;}
.offer-block-inner{background:#b4d2c5;width:100%;height:100%;text-align:center;padding-top:50px;overflow:hidden;position:relative;}
.offer-block-heading{font-size:20px;line-height:normal}
.offer-block-text{font-size:16px;}
.offer-block-price{font-size:40px;}
.offer-block-inner #water{filter:invert(1) contrast(0) brightness(100)}
.adword-app h2{font-family:'GothamBlack';color:#141414;}
.adword-footer .footer-toggle{background:#73aa92;}
.adword-footer .contact-info{padding-bottom:0px;}
.adword-footer .social{margin-top:0px;}

@media(max-width:1199px) {
	.adword-offers{width:100%;}
	.adword-list li br{display:none;}
	.adword-list li .icon{margin-right:10px;margin-bottom:5px;}
	.adword-form-group{width:100%}
	.adword-lead{font-size:16px;}
	.adword-content .order-now-box{}
	.offer-block-inner{padding-top:30px;}
	.offer-block-heading{font-size:18px;}
	.offer-block-text{font-size:14px;}
	.offer-block-price{font-size:30px;}
	.adword-app .app-button span{display:block;}
}
@media(max-width:991px) {
	.adword-header{padding-top:80px;}
	.adword-offers{margin-bottom:30px;}
	.adword-offer-inner{padding:20px;}
	.adword-content h2 br{display:none;}
	.adword-list li{display:inline-block;}
	.adword-form-group{width:70%; margin:0 auto;}
	.adword-field{max-width:100%;}
	.navbar.ppc-navbar ul.ppc-account-buttons{border-radius:0px;}
	.adword-hiw .dotted::after{top:50%;}
	.adword-prices-text{padding-top:0px;text-align:center;}
	.offer-block-inner{padding-top:20px;}
	.offer-block-heading{font-size:16px;}
	.offer-block-text{font-size:12px;}
	.offer-block-price{font-size:24px;}
	.offer-block-inner #water{height:80px !important;}
	.ppc-panel.panel-group{padding-right:0px;}
}
@media(max-width:767px) {
	.adword-discount{font-size:50px; line-height:46px;}
	.adword-offer-text{font-size:16px;}
	.adword-offer-text span{font-size:22px;}
	.adword-header-img{width:250px;}
	.adword-header .download-ourapp img{width:160px;}
	.adword-content h2{font-size:36px;}
	.adword-form-group{width:100%;}
	.adword-ordernow{padding:10px !important;position:relative;top:auto;right:auto;margin-top:10px;width:100%;}
	.adword-hiw h4{font-size:15px;}
	.adword-hiw h2{font-size:24px;margin-bottom:30px;}
	.adword-hiw .hiw-image{margin-top:15px;margin-bottom:30px;}
	.adword-hiw .dotted::after{display:none;}
	.adword-app h2{text-align:center;}
	.ppc-faqs h2{font-size:24px;margin-bottom:20px;}
	.ppc-panel.panel-group .panel{padding:0px;}
	.ppc-panel .panel-title > a{border-radius:0;}
	.ppc-panel .panel-title > a i{width:30px;font-size:12px;}
}
@media(max-width:639px) {}
@media(max-width:480px) {
    
}
@media(max-width:359px) {
    
}