.full-width{max-width:1600px;}
.header.order-header{
	padding:10px 0;
	position:relative;
	background:#fff;
}
.header.order-header .logo img{
	width:100%;
	max-width:140px;
	height:auto;
}
.booking-steps{
	text-align:right;
}
.booking-step{
	font-family: 'GothamBook';
	font-size:14px;
	color:#b8b8b8;
	text-transform:uppercase;
	padding:20px;	
}
.booking-step.active{
	color:#000;
}
.order-body,.order-main{
	background:#efefef;
}
.loader{
	position:absolute;
	top:10%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	z-index:1;
}
.order-form label{
	font-size:14px;
	color:#000;
	text-transform:uppercase;
}
.order-form label small{
	font-size:12px;
	text-transform:lowercase;
	padding-left:15px;
}
.order-form .form-control,.order-form .custom-select{
	border-radius:.4rem;
	font-size:18px;
	padding:10px 20px;
	height:50px;
	border:1px solid #ced4da;
}
.order-form textarea.form-control{
	height:auto;
}
.order-form .stripe-input{
	padding:15px 20px;	
}
.order-form .input-group > .form-control{
	border-right:none;
}
.order-form .input-group-append > .input-group-text{
	background-color:transparent;
}
.order-form .input-group-append > .input-group-text i{
	cursor:pointer;
}
.order-form .form-control:focus,
.order-form .custom-select:focus,
.order-form .input-group > .form-control:focus{
	box-shadow: 0 0 0 0.2rem rgba(237,170,154,.25);
	border-color:#edaa9a;
}
.order-address,
.order-contact-detail,
.order-category-list,
.order-list-item,
.order-collection,
.order-delivery,
.order-select-preferences{
	background:#fff;
	border-radius:1rem;
	-webkit-border-radius:1rem;
	transition:all .25s ease;
	-webkit-transition:all .25s ease;
}
.order-contact-detail,
.order-category-list,
.order-list-item,
.order-collection,
.order-delivery{
	display:block;
}
.order-skip-item{
	font-size:18px;
	float:right;
        background: #000;
        color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
	padding-top:8px;
}
.order-look-good{
    position:absolute;
    bottom:10px;
    left:8px;
    width:98%;
}
.order-payment-btn{
	border:3px dashed #e8e8e8!important;
	text-decoration:underline;
}
.order-payment-btn:hover{
	border:3px solid #000!important;
	text-decoration:none;
}
@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(1);
	}
	15% {
		-webkit-transform: scale(1.03);
	}
	30% {
		-webkit-transform: scale(1);
	}
	45% {
		-webkit-transform: scale(1.03);
	}
	60% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes pulsate {
	0% {
		-moz-transform: scale(1);
	}
	15% {
		-moz-transform: scale(1.03);
	}
	30% {
		-moz-transform: scale(1);
	}
	45% {
		-moz-transform: scale(1.03);
	}
	60% {
		-moz-transform: scale(1);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@-ms-keyframes pulsate {
	0% {
		-ms-transform: scale(1);
	}
	15% {
		-ms-transform: scale(1.03);
	}
	30% {
		-ms-transform: scale(1);
	}
	45% {
		-ms-transform: scale(1.03);
	}
	60% {
		-ms-transform: scale(1);
	}
	100% {
		-ms-transform: scale(1);
	}
}
@-o-keyframes pulsate {
	0% {
		-o-transform: scale(1);
	}
	15% {
		-o-transform: scale(1.03);
	}
	30% {
		-o-transform: scale(1);
	}
	45% {
		-o-transform: scale(1.03);
	}
	60% {
		-o-transform: scale(1);
	}
	100% {
		-o-transform: scale(1);
	}
}
@keyframes pulsate {
	0% {
		transform: scale(1);
	}
	15% {
		transform: scale(1.03);
	}
	30% {
		transform: scale(1);
	}
	45% {
		transform: scale(1.03);
	}
	60% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}
.pulsate {
	-webkit-backface-visibility: hidden;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: pulsate;
	-webkit-animation-iteration-count: infinite;
	-ms-backface-visibility: hidden;
	-ms-animation-duration: 3s;
	-ms-animation-delay: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	-ms-animation-name: pulsate;
	-ms-animation-iteration-count: infinite;
	-o-backface-visibility: hidden;
	-o-animation-duration: 3s;
	-o-animation-delay: 1s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both; 
	-o-animation-name: pulsate;
	-o-animation-iteration-count: infinite;
	backface-visibility: hidden;
	animation-duration: 3s;
	animation-delay: 1s; 
	animation-timing-function: ease;
	animation-fill-mode: both;
	animation-name: pulsate;
	animation-iteration-count: infinite;
}
.order-category-list .owl-carousel .owl-nav button.owl-next,
.order-category-list .owl-carousel .owl-nav button.owl-prev{
	top:40%;
	position:absolute;
	width:24px;
	height:24px;
	margin:0;
        background: #000;
        color: #fff;	
        border-radius: 50%;
        -webkit-border-radius: 50%;
}
.order-category-list .owl-carousel .owl-nav button.owl-next:focus,
.order-category-list .owl-carousel .owl-nav button.owl-prev:focus{
	outline:none;
}
.order-category-list .owl-carousel .owl-nav button.owl-next span,
.order-category-list .owl-carousel .owl-nav button.owl-prev span{
	font-size: 28px;
    height: 20px;
    width: 24px;
    display: block;
    line-height: 16px;
}
.order-category-list .owl-carousel .owl-nav button.owl-next{
	right:-10px;
}
.order-category-list .owl-carousel .owl-nav button.owl-prev{
	left:-10px;
}
.category-item{
	text-align:center;
	cursor:pointer;
}
.category-item .icon{
	font-size:25px;
	width:50px;
	height:50px;
	line-height:50px;
	background:#fff;
	text-align:center;
	display:block;
	margin:0 auto;
	border-radius:50%;
	-webkit-border-radius:50%;
	transition:all .25s ease;
	-webkit-transition:all .25s ease;
}
.category-label{
	font-size:14px;
	color:#202020;
	text-transform:capitalize;
}
.category-item.mixitup-control-active .icon{
	background:#edaa9a;
}
.order-list-item:hover{
	background:rgba(180,210,197,.2);
}

.service-image{
	border-radius:50%;
	border:8px solid #2b2b2b;
	display:block;
	overflow:hidden;
	width:160px;
	height:160px;
	background:rgba(0,0,0,.01);
}
.service-description{
	font-size:16px;
	margin-bottom:5px;
}
.service-option{
	font-size:13px;
	color:#616161;
}
.service-price{
	font-size:26px;
	line-height:normal;
	padding:15px 0 10px;
}
.service-price-orignal{
	font-size:16px;
	color:#585858;
	text-decoration:line-through;
	display:block;
}
.plus,
.minus{
	background:#2b2b2b;
	width:40px;
	height:30px;
	float:left;
	font-size:18px;
	color:#fff;
	text-align:center;
	line-height:normal;
	border:none;
	border-radius:6px;
	
}
.minus{
	background:#edaa9a;
	margin-left:5px;
}
.qty{
	width:30px;
	height:30px;
	float:left;
	margin-left:20px;
	display:inline-block;
	border:2px solid #2b2b2b;
	font-size:16px;
	text-align:center;
	line-height:26px;
	border-radius:50%;
}
.order-featured-item{
    background:#edaa9a;
}
.order-featured-item .minus{
    background:#fff;
    color:#2b2b2b;
}
.order-featured-item .service-offers{
    background-color: #fff !important;
    color:#2b2b2b;
}



.custom-select2 .select2-container { width: 100% !important;  }
.custom-select2 .select2-container--default .select2-selection--single{border:1px solid #dce1e5;border-radius:.4rem;}
.custom-select2 .select2-container .select2-selection--single{height:56px;}
.custom-select2 .select2-container--default .select2-selection--single .select2-selection__rendered{line-height:56px;font-size:16px;}
.custom-select2 .select2-container--default .select2-selection--single .select2-selection__arrow{height:55px;}
.select2-container--default .select2-results__option--selected,.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background-color:#edaa9a !important;color:#000 !important;}
.custom-select2.country-code .select2-container--default .select2-selection--single{
	border-right:none;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	height:50px;
}
.custom-select2.country-code .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:50px;
}
.custom-select2.country-code .select2-container--default .select2-selection--single .select2-selection__arrow{
	height:50px;
}
.custom-select2.country-code  .select2-container .select2-selection--single .select2-selection__rendered{
	width:130px;
}

.select-dropdown{
	font-size:16px;
	border:1px solid #dce1e5;
	background:#fff;
	color:#333;
	padding:16px;
	position:relative;
	cursor:pointer;
	border-radius:6px;
}
.order-timeslots .select-dropdown i{
	font-size:14px;
	color:#edaa9a;
	margin-right:10px
}
.search-result{
	width:100%;
	position:absolute;
	top:80px;
	z-index:1;
}
.result{
	list-style:none;
	padding:0;
	background-color:#fff;
	border:1px solid #ccc;
	border-bottom-left-radius:.4rem;
	border-bottom-right-radius:.4rem;
}
.result li{
	padding:6px;
}
.select-dropdown .select-arrow{position:absolute;top:20px;right:8px;color:#333;}
.dropdown-body{
	background:#fff;
	border:1px solid #dce1e5;
	box-shadow:0 1px 6px -2px rgba(0, 0, 0, 0.25);
	border-radius:4px;
	padding:0px;
	margin-top:5px;
	min-width:200px;
	position:absolute;
	opacity:0;
	height:0px;
	z-index:1;
	transition:0.24s all ease-out;
	visibility:hidden;
}
.select-dropdown.is-active .dropdown-body {
    opacity: 1;
    z-index: 9999;
    overflow-y:scroll;
    height:200px;
    visibility:visible;
}
.order-timeslots .select-dropdown .dropdown-body > *{
	padding:8px 12px;
	display: block;
    padding: 8px 16px;
    transition:0.24s all ease-out;
    height:0px;
}
.select-dropdown.is-active .dropdown-body > *{
    height:auto;
}
.time-options{
    font-size: 14px;
	text-transform: uppercase;
    color: #8c939c;
	background-color:#f7fcff;
}
.time-slot {
    color: #333;
	cursor:pointer;
}
.other-options{
	border-top:1px solid #dce1e5;
}
.order-heading{
	font-size:24px;
	border-bottom:1px solid rgba(0,0,0,0.3);
}
.order-summary{
	background:#e1e1e1;
	border-radius:1rem;
}
.order-summary-heading{
	font-size:24px;
	text-transform:uppercase;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.order-summary .list-group{
	margin-bottom:5px;
}
.order-summary .list-group-item{
	background-color:transparent;
	border-bottom:none;
	padding: .25rem 0;
}
.order-summary .list-group-item .badge i{
	font-size:18px;
	color:#000;
	opacity:0.2;
}
.order-summary .order-summary-list-info{
	color:#646464;

}
.order-summary .order-summary-list-info span{
	color:#000;
        font-size: 1rem;
}
.order-summary .order-summary-list-info small{
	display:block;
        font-size: 70%;

}
.order-summary .order-summary-list-info small span{
        font-size: 100%;
}
.order-summary .order-summary-list-info .order-summary-edit{
	background:transparent;
	border:none;
	padding:0;
	font-size:.875rem;
	margin-left:10px;
}
.order-summary-list-info .cart-name,.order-summary-list-info .cart-qty,.order-summary-list-info .cart-price{
	font-size:70%;
	padding-left:0px;
	padding-right:0px;
}
.order-summary-list-info .cart-price{
	text-align:right;
	padding-left:5px;
	padding-right:5px;
}
.order-summary-list-info .cart-remove .close{
	line-height:18px;
}
.order-summary .list-group-item.active{
	background:transparent;
	border-color:transparent;
	color:#000
}
.order-summary .list-group-item.active .badge i{
	opacity:1;
}
.order-minimum{
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.order-minimum-text {
	font-size:14px;
	opacity:.6;
        line-height: 1.2;
}
.order-amount {
	font-size:22px;
	float:right;
	display:inline-block;
	padding-left:36px;
	background:url(../../images/front/cart.png) center left no-repeat;
}
.order-discount-text {
	font-size:14px;
}
.order-term-condition .custom-control-label{
	font-size:13px;
}
.close{
	opacity:1;
	text-shadow:none;
}
.btn-payment{
	opacity:.5;
	border-color:rgba(0,0,0,.5) !important;
}
.btn-payment .custom-control-label::before,.btn-payment .custom-control-label::after{
	left:-.5rem;
}
.btn-payment.active{
	opacity:1;
	border-color:#edaa9a !important;
}
@media(max-width:1199px) {
	.service-image{
		background:#efefef;
		border-width:4px;
		width:150px;
		height:150px;
		margin:0 auto 10px;
	}
	.order-summary .list-group{
		margin-bottom:15px;
	}
}
@media(max-width:991px)  {
	.order-summary-container{
		display:none;
		position:fixed;
		top:0;
		left:0;
		overflow:scroll;
		background-color:#fff;
		z-index:1040;
		height:100%;
		padding:5px;
	}
	.order-summary-container.is-active{
		display:block;
	}
	.order-summary-container button.close{
		opacity:1;
		font-size:1.625rem;
		font-weight: 400;
		line-height:1.2;
		width:36px;
		height:36px;
		color: #fff;
		text-shadow:none;
		background-color: #2b2b2b;
		border: 1px solid #343a40;
		margin-left:5px;
		margin-top:-6px;
	}
	.order-body .fixed-bottom{
		z-index:1030;
	}
}
@media(max-width:767px)  {
	.header.order-header{
		padding:5px 0;
	}
	.header.order-header .logo img{
		max-width:100px;
	}
	.booking-step{display:none;padding:10px;}
	.booking-step.active{display:block;}
	.order-body{
		padding-bottom:64px;
	}
	.order-heading{
		font-size:20px;
	}
        .order-skip-item{
		float:none;
		display:block;
		margin-top: 5px;
		
	}
	.category-item .icon {
		width: 45px;
		height: 45px;
		line-height: 50px;
	}
	.service-image{
		width:120px;
		margin-bottom:10px;
	}
	.service-description{
		font-size:14px;
	}
	.service-price-orignal{
		font-size:15px;
	}
	.service-price{
		padding-top:10px;
		float:left;
		font-size:20px;
	}
	.service-offers{
		position: absolute;
		top: -0.25rem;
		right: 0;
	}
	.service-cart{
		float:right;
		margin-top:10px;
	}
	.order-form label{
		margin-bottom:.25rem;
	}
	.dropdown-body{
		left:-50px;
	}
	.order-summary-heading{
		font-size:20px;
		border-bottom:none;
	}
	.order-summary .list-group{
		margin-bottom:15px;
	}
	.order-summary .list-group-item{
		padding:.25rem 0;
	}
	.order-look-good{
        left:4px;
        width:97%;
    }
	.order-amount{
		font-size:20px;
		padding-left:30px;
	}
	.order-term-condition .custom-control-label{
		font-size:11px;
	}
}
@media(max-width:639px)  {}
@media(max-width:480px)  {}
@media(max-width:359px)  {}
@font-face {
    font-family: 'GothamBlack';
    src: url('../../fonts/front/gothamblack-regular-webfont.woff2') format('woff2'),
         url('../../fonts/front/gothamblack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GothamBook';
    src: url('../../fonts/front/gothambook-regular-webfont.woff2') format('woff2'),
         url('../../fonts/front/gothambook-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}