.fb-login-button {
    width: 100%;
}
.google-btn {
    width: 100%;
    height: 42px;
    background-color: #DD4B39;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);

}
.abcRioButton:hover {
    border-radius: 50rem !important;
}
.abcRioButtonLightBlue{
    background:transparent !important;
    box-shadow:none !important;
    width:100% !important;
    height:42px !important;
}
.abcRioButtonIcon {
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    width: 36px;
    height: 36px;
    padding: 9px !important;
    border-radius: 50%;
    background-color: #fff;
}
.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.abcRioButtonContents{
    float: left;
    margin: 5px 9px 0 50px !important;
    color: #fff;
    font-size: 16px !important;
    letter-spacing: 0.2px;
    line-height:34px !important;
    font-weight: 700;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 4px 15px 4px 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 10px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}