.header .logo{
	filter:invert(1);
	-webkit-filter:invert(1);
}
.main-menu li a{
	color:#fff;
}
.top-section{
	overflow:hidden;
}
.video-foreground{position: absolute;top: 0;left: 0;z-index: -1; width: 100%;height: 100%;overflow: hidden;}
.video-foreground::before{position: absolute;top: 0;left: 0;width:100%;height:100%;content:'';background:rgba(0,0,0,0.6);z-index:1;}
.video-foreground video {position: absolute; top: 0; left: 0; width: 100%; height: 100%;  pointer-events: none;}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
.top-section-container h1,.place-order-form .title{
	color:#fff;
}
@media(max-width:1199px) {
    .top-section-container {
        width: 70%;
    }
    
}
@media(max-width:991px) {
    
}
@media(max-width:767px) {
    
}
@media(max-width:639px) {}
@media(max-width:480px) {
    
}
@media(max-width:359px) {
    
}